<div class="employer">
  <div class="employer-content">
    <form [formGroup]="employerForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Imię</label>
        <input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "employer.name" />
      </div>
      <div *ngIf="employerForm.controls['name'].invalid && (employerForm.controls['name'].dirty || employerForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="employerForm.controls['name'].errors.required">
          Imię jest wymagane.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Nazwisko </label>
        <input type="text" class="form-control" formControlName="surname" #surname [(ngModel)] = "employer.surname" />
      </div>
      <div *ngIf="employerForm.controls['surname'].invalid && (employerForm.controls['surname'].dirty || employerForm.controls['surname'].touched)" class="alert alert-danger">
        <div *ngIf="employerForm.controls['surname'].errors.required">
          Nazwisko jest wymagane.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Stawka</label>
        <input type="text" class="form-control" formControlName="rate" #rate [(ngModel)] = "employer.rate" />
      </div>
      <div *ngIf="employerForm.controls['rate'].invalid && (employerForm.controls['rate'].dirty || employerForm.controls['rate'].touched)" class="alert alert-danger">
        <div *ngIf="employerForm.controls['rate'].errors.required">
          Stawka jest wymagane.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateEmployer(name.value, surname.value, rate.value)"
        [disabled]="employerForm.invalid" 
        class="btn btn-primary">Aktualizuj pracownika</button>
      </div>
    </form>
  </div>
</div>