<table class="table table-hover">
    <thead>
    <tr>
        <td>Imię</td>
        <td>Nazwisko</td>
        <td>Stawka</td>
        <td colspan="2">Operacja</td>
    </tr>
    </thead>
  
    <tbody>
       
        <tr *ngFor="let employer of employers">
                
            <td>{{ employer.name }}</td>
            <td>{{ employer.surname }}</td>
            <td>{{ employer.rate }}</td>
            <td><a [routerLink]="['/employer/edit/', employer.id]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteEmployer(employer.id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>
